ALTER TABLE restaurants
ADD COLUMN menu_url TEXT;

CREATE OR REPLACE FUNCTION update_restaurant_magic(
  p_slug TEXT,
  p_name TEXT,
  p_business_type TEXT,
  p_logo_url TEXT,
  p_cover_image TEXT,
  p_instagram_url TEXT,
  p_google_maps_url TEXT,
  p_google_review_url TEXT,
  p_website_url TEXT,
  p_phone TEXT,
  p_whatsapp TEXT,
  p_address TEXT,
  p_primary_color TEXT,
  p_loyalty_offer TEXT,
  p_reward_stamps INT,
  p_plan_tier TEXT,
  p_menu_url TEXT DEFAULT NULL
) RETURNS VOID AS \$\$
BEGIN
  UPDATE restaurants 
  SET 
    name = p_name,
    business_type = p_business_type,
    logo_url = p_logo_url,
    cover_image = p_cover_image,
    instagram_url = p_instagram_url,
    google_maps_url = p_google_maps_url,
    google_review_url = p_google_review_url,
    website_url = p_website_url,
    phone = p_phone,
    whatsapp = p_whatsapp,
    address = p_address,
    primary_color = p_primary_color,
    loyalty_offer = p_loyalty_offer,
    reward_stamps = p_reward_stamps,
    plan_tier = p_plan_tier,
    menu_url = COALESCE(p_menu_url, menu_url)
  WHERE slug = p_slug;
END;
\$\$ LANGUAGE plpgsql;
