CREATE TABLE IF NOT EXISTS payment_audits (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  restaurant_id UUID REFERENCES restaurants(id) ON DELETE CASCADE,
  amount NUMERIC NOT NULL,
  payment_type TEXT NOT NULL,
  screenshot_url TEXT NOT NULL,
  status TEXT DEFAULT 'PENDING' CHECK (status IN ('PENDING', 'APPROVED', 'REJECTED')),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert bucket for screenshots if not exists
INSERT INTO storage.buckets (id, name, public) 
VALUES ('payment_screenshots', 'payment_screenshots', true)
ON CONFLICT (id) DO NOTHING;

-- Policies for storage
DROP POLICY IF EXISTS \
Public
Access\ ON storage.objects;
CREATE POLICY \Public
Access\ ON storage.objects FOR SELECT USING (bucket_id = 'payment_screenshots');

DROP POLICY IF EXISTS \Insert
Access\ ON storage.objects;
CREATE POLICY \Insert
Access\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'payment_screenshots');

