ALTER TABLE restaurants
ADD COLUMN trial_expires_at TIMESTAMPTZ,
ADD COLUMN google_maps_url TEXT;

-- Let's make existing restaurants have a far future trial so they don't break
UPDATE restaurants SET trial_expires_at = NOW() + INTERVAL '100 years' WHERE trial_expires_at IS NULL;
