CREATE OR REPLACE FUNCTION renew_subscription(p_restaurant_id UUID, p_months INT)
RETURNS VOID AS 
DECLARE
  v_current_end TIMESTAMPTZ;
  v_new_end TIMESTAMPTZ;
BEGIN
  SELECT subscription_end_date INTO v_current_end
  FROM restaurants
  WHERE id = p_restaurant_id;

  IF v_current_end IS NULL OR v_current_end < NOW() THEN
    v_new_end := NOW() + (p_months * 28 * INTERVAL '1 day');
  ELSE
    v_new_end := v_current_end + (p_months * 28 * INTERVAL '1 day');
  END IF;

  UPDATE restaurants 
  SET 
    subscription_end_date = v_new_end,
    trial_expires_at = NULL
  WHERE id = p_restaurant_id;
END;
 LANGUAGE plpgsql;
